@tailwind base;

.front-box{
    z-index: 2;
}

.behind-box{
    z-index: 1;
}

.front-box.change-an{
    animation: front-to-back 0.5s ease-in-out;
}
.behind-box.change-an{
    animation: back-to-front 0.5s ease-in-out;
}

@keyframes front-to-back {
   0%{
       transform: translate(-50%,-50%);
       z-index: 2;
       opacity: 1;
   }
    50%{
        transform: translate(-30%,-70%);
        z-index: 1;
        opacity: 0.7;
    }
    100%{
        transform: translate(-50%,-50%);
        z-index: 1;
        opacity: 1;
    }

}
@keyframes back-to-front {
    0%{
        transform: translate(-50%,-50%);
        z-index: 1;
        opacity: 0;
    }
    50%{
        transform: translate(-70%,-30%);
        z-index: 2;
        opacity: 0.3;
    }
    100%{
        transform: translate(-50%,-50%);
        z-index: 2;
        opacity: 1;
    }

}

.login-box .form-item{
    margin-bottom: 24px;
}
.login-box .form-item input{
    background: black;
    outline: none;
    font-size: 10px;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 10px 12px;
}
